<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="static/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="static/font-awesome.min.css">
<link rel="stylesheet" href="static/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Spell Checker">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Image Resize</title>
</head>

<body>
    <form method="POST" enctype="multipart/form-data" action="/">
        {{ form.hidden_tag() }}
        {{ form.photo }}
        <input class="form-submit-button" type="submit">
    </form>
    {% if form.photo.errors %}
    <div class="notify-error">Please Upload Image Files Only</div>
    {% endif %}
</body>

</html>